@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

body {
	width: 100%;
	height: 100%;
	background-color: green;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #cfd8dc;
	background: -moz-linear-gradient(left, #cfd8dc 0%, #263238 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #cfd8dc), color-stop(100%, #263238));
	background: -webkit-linear-gradient(left, #cfd8dc 0%, #263238 100%);
	background: -o-linear-gradient(left, #cfd8dc 0%, #263238 100%);
	background: -ms-linear-gradient(left, #cfd8dc 0%, #263238 100%);
	background: linear-gradient(to right, #cfd8dc 0%, #263238 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#263238', GradientType=1 );
}

h1 {
	font-family: 'Oswald', sans-serif;
	margin-top: 150px;
	color: white;
}

.form {
	width: 340px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	background-color: white;
}

.form__tabs {
	display: flex;
	flex-direction: row;
	height: 50px;
}

.form__tabs-tab {
	width: 170px;
	display: inherit;
	justify-content: center;
	align-items: center;
	color: #90a4ae;
	cursor: pointer;
}

.form__tabs__auth {
	background-color: #4caf50;
	color: white;
	border-radius: 5px 0 0 0;
}

form {
	margin: 20px;
}

input {
	margin: 5px;
	width: 285px;
	border: none;
	height: 30px;
	border-bottom: 1px solid #90a4ae;
}

*:focus {
    outline: none;
}

button {
	margin: 5px;
	margin-top: 20px;
	width: 288px;
	background-color: #4caf50;
	border: none;
	height: 40px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

.form__reg {
	display: none;
}